<h1>Create a new list</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :list_avatar, as: :file %>
  <%= f.submit %>
  <% end %>
  <p><%= link_to "Back to lists", lists_path %></p>
