<div class="container text-center">
  <h1>Add a new bookmark to <%= @list.name %>:</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, prompt: "Select a Movie to add to this list!" %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
  <br>
  <br>
  <p><%= link_to "Back to #{@list.name}", lists_path %></p>
</div>
